*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: rgb(25, 25, 25);
}

header{
    background-color: rgb(25, 25, 25);
    
}

.container{
    margin: 0 auto;
    max-width: 1300px;
}

.recommended-sect{
    height: 350px;
    width: 100%;
    background-color: rgb(75, 75, 75);
}

#recommended-slider{
    position: relative;
    border-radius: 15px;
    background-size : 99%;
    background-repeat:  no-repeat;
    background-position : right;
    z-index: 1;
    overflow: hidden;
}


#recommended-slider::after{
    display: block;
    position: absolute;
    border-radius: 11px;
    background-image: linear-gradient(to bottom, rgb(17, 17, 17) 0, rgba(255,255,255, 0) 50%, rgba(17,17,17, 1) 100%);
    content: '';
    top: 0;
    right:0;
    bottom:0;
    left:0;
    opacity: 1;
}

#recommended-slider::before{
    border-radius: 15px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 100%;
    background: inherit;
    filter: blur(10px);
    z-index: -1;
    
}

#slider{
    display: flex;
    position: absolute;
    height: 350px;
    max-width: 1300px;
    width: 100%;
    z-index: 10;
}

.slide{
    position: absolute;
    width: 19%;
    border-radius: 15px;
    background-size : contain;
    background-repeat:  no-repeat;
    background-position : left;
    height: 350px;
    z-index: 10;
    opacity: 0;
    transition: 500ms ease-in-out;
}

.slide-info{
    position: absolute;
    width: 80%;
    height: inherit;
    left: 20%;
    overflow: auto;
}

.slide-info h1{
    font-size: 3rem;
    color: rgb(214, 213, 213);
    text-shadow: 2px 2px black;
}

.slide-info p {
    font-size: 1.2rem;
    color:rgb(255, 255, 255);
    text-shadow: 1px 1px black;
}

div[class^="slide-info"]{
    visibility: hidden;
}

div[class^="slide-info"][data-active]{
    visibility: visible;
}


div[class^="slide"][data-active]{
    opacity: 1;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-item{
    list-style: none;
    color: rgb(175, 175, 175);
    padding: 10px;
}

.nav-item + .nav-item{
    margin-left: 10px;
}

.nav-link{
    text-decoration: none;
    color:rgb(175, 175, 175)
}

.nav-link:hover{
    opacity: 0.8;
}


.logo{
    font-size: 1.5rem;
    padding: 5px;
    color: rgb(175, 175, 175)
}

.search-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-bar{
    width: 100%;
    font-size: 2rem;
    margin: 30px auto;
    text-align: center;
    outline: none;
    background-color: rgb(50, 50, 50);
    border: 1px solid black;
    color: rgb(175, 175, 175)
}

.search-btn{
    color: rgb(175, 175, 175);
    opacity: 0.6;
    font-size: 2rem;
    border: none;
    background: none;
    position: relative;
    left: 48%;
    transform: translateY(-70px);
}

.search-btn:hover{
    cursor: pointer;
    opacity: 0.8;
}




.grid-container{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
    max-width: 1300px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 350px;
    margin: 20px 0;
    background-color: rgb(75, 75, 75);
    border-radius: 15px;
    box-shadow: 1px 1px  rgb(25, 25, 25);
}

.search-heading{
    color:rgb(175, 175, 175);
}
